@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

.contenedorPrincipalFil{
    background-color: #145b9c;
    padding: 12px;
    color: white;
    font-family: 'Keania One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
}

.filtrar{
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    padding: 3px;
}

.ordenador{
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    padding: 3px;
}

.botonLimpiar{
    border-radius: 8px;
    background-color: #941305;
    color: white;
    padding: 5px 25px 5px 25px;
    font-family: 'Keania One', sans-serif;
    font-size: 15px;
    
}
